

$font-stack: Helvetica Neue,Helvetica,Arial,sans-serif;
$shadow-color: rgba(75,84,96,.22);
$border-shadow-color: rgba(79,88,100,.1);
$border-color: #dce3ed;
$font-color:  #4f5864;
$hover-color:#24c7fe;
$back-color: #01b2ee;
$light-font: #92a2ad;
$small-font-color: #1eb3ec;
$border-lighter: #eaf1f5;
$border-light: #dce3ed;






